defaults:
  - cluster: dgx-a100
  - router: noop
  - arbiter: noop
  - hardware_repo: default
  - model_repo: default
  - orchestrator_repo: default
  - performance_model: constant
  - power_model: constant
  - applications: solo
  - trace: test_trace
  - start_state: orca
  - override hydra/launcher: ray
  - _self_

end_time: 86400
debug: False
seed: 0
trace_list:
#  - traces/burst_144/day_30.csv
  - traces/rr_conv_150

trace_epochs: 1  # 单个 trace 的循环次数（当使用 trace_list 时，此参数用于控制整个列表的循环次数）
trace_list_repeats: 1000  # trace_list 的循环次数

choices: ${hydra:runtime.choices}
output_dir: results/${seed}/${start_state.state_type}/${trace.filename}/${cluster.servers.0.count}_${cluster.servers.1.count}/${applications.0.model_architecture}/${applications.0.scheduler}

hydra:
  # changes the cwd to the output directory
  run:
    dir: ${output_dir}
  sweep:
    dir: ""
    subdir: ${output_dir}
  job:
    chdir: True
  launcher:
    ray:
      init:
        address: "127.0.0.1:6379"
        object_store_memory: null
